@import "@fancyapps/fancybox";
@import "@fortawesome/fontawesome-free";

.registration__link {
    padding-left: 10px;
    font-size: 12px;
    color: #ffffff;
}

.registration__link a {
    color: inherit;
    display: block;
    text-decoration: underline;
}

.registration__link a:hover {
    text-decoration: none;
}

.mb-20 {
    margin-bottom: 20px;
}
